// --------------------------------------------------------------------------
// BUTTON BASE
// --------------------------------------------------------------------------
//
// The .button class can be used to style markup to look like a button.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin button($padding: ($Base-spacing-unit * 1) ($Base-spacing-unit * 4), $font-size: 15px, $line-height: 24px) {
	@include font-size($font-size);
	line-height: $line-height;
	font-family: $FF-heavy;
	display: inline-block;
	padding: $padding;

	text-decoration: none;
	text-shadow: none;
	border: 1px solid $Colour-border;
	border-radius: $Border-radius;
	transition: all .3s;

	&:hover,
	&:focus {
		cursor: pointer;
		transition: all .3s;
	}
}

@mixin button--paint($bg: $Colour-buttonBG, $border: $Colour-buttonBorder, $color: $Colour-white) {
	background-color: $bg;
	border-color: $border;
	color: $color;
	transition: all .3s;

	&:hover,
	&:focus {
		background-color: $border;
		color: $color;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.button {
	@include button();
}

.button--primary {
	@include button--paint();
}

// .button--accent {
// 	background-color: $Colour-accent;
// 	border-color: $Colour-accent;
// 	color: $Colour-white;
// }

.button--proceed {
	@include button--paint($Colour-success, $Colour-success--darken);
}
