// --------------------------------------------------------------------------
// CONTAINER BASE
// --------------------------------------------------------------------------
//
// Used to wrap content and provide a central container with a max-width
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin container($widthMod: 0) {
    max-width: $Layout-maxWidth + $widthMod;
    margin-left: auto;
    margin-right: auto;
    // padding-left: $Layout-gutter;
    // padding-right: $Layout-gutter;

    @include media('>=tab') {
        padding-left: $Column-gutter + $Grid-gutter--tab;
        padding-right: $Column-gutter + $Grid-gutter--tab;
    }

    @include media('>=lap') {
        padding-left: $Grid-gutter--lap;
        padding-right: $Grid-gutter--lap;
    }
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.container {
    @include container();
}
