// --------------------------------------------------------------------------
// CONTAINER BASE
// --------------------------------------------------------------------------
//
// Used to wrap content and provide a central container with a max-width
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin contain($widthMod: 0) {
    max-width: $Layout-maxWidth + $widthMod;
    margin-left: auto;
    margin-right: auto;

}

@mixin container($widthMod: 0) {
    @include contain();
    padding-left: $Layout-gutter; //should match the grid
    padding-right: $Layout-gutter; //should match the grid

    @include media('>=tab') {
        padding-left: $Column-gutter + $Grid-gutter--tab;
        padding-right: $Column-gutter + $Grid-gutter--tab;
    }

    @include media('>=lap') {
        padding-left: $Column-gutter + $Grid-gutter--lap;
        padding-right: $Column-gutter + $Grid-gutter--lap;
    }
}


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.contain {
    @include contain();
}

.container {
    @include container();
}
