// --------------------------------------------------------------------------
// CONTAINER BASE
// --------------------------------------------------------------------------
//
// Used to wrap content and provide a central container with a max-width
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin container($widthMod: 0) {
    max-width: $Layout-maxWidth + $widthMod;
    margin-left: auto;
    margin-right: auto;
    padding-left: $Layout-gutter;
    padding-right: $Layout-gutter;

    @include media('>=lap') {
        padding-left: double($Layout-gutter);
        padding-right: double($Layout-gutter);
    }
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.container {
    @include container();
}
