// --------------------------------------------------------------------------
// DIVIDER BASE
// --------------------------------------------------------------------------
//
// Content dividers
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin divider($border-colour: $Colour-border) {
    position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		border-top: 2px solid $border-colour;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------
.divider {
	@include divider();
}

.dividerContrast {
    @include divider($Colour-white);
}
