// --------------------------------------------------------------------------
// CONTAINER BASE
// --------------------------------------------------------------------------
//
// Used to wrap content and provide a central container with a max-width
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

@font-face {
	font-family: 'CHR';
	src:url('fonts/CHR.eot?ck7r12');
	src:url('fonts/CHR.eot?#iefixck7r12') format('embedded-opentype'),
		url('fonts/CHR.woff?ck7r12') format('woff'),
		url('fonts/CHR.ttf?ck7r12') format('truetype'),
		url('fonts/CHR.svg?ck7r12#CHR') format('svg');
	font-weight: normal;
	font-style: normal;
}

$icon-hotel-park-fly: "\e600";
$icon-parking: "\e601";
$icon-thumbs-up: "\e602";
$icon-quotes: "\e603";
$icon-question-mark: "\e604";
$icon-news: "\e605";
$icon-plane: "\e606";
$icon-deals: "\e607";
$icon-shuttle-bus: "\e608";
$icon-young-families: "\e609";
$icon-phone: "\e610";
$icon-clock: "\e611";
$icon-calendar: "\e612";
$icon-filter: "\e613";
$icon-hotel: "\e60a";
$icon-mail: "\e60b";
$icon-location: "\e60c";
$icon-star: "\2a";
$icon-search: "\e60e";
$icon-cart: "\e60d";
$icon-list: "\e60f";
$icon-chevron-right: "\e902";
$icon-voucher-ticket: "\e900";
$icon-duplicate: "\e907";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-tick: "\f00c";
$icon-close: "\f00d";
$icon-bin: "\f014";
$icon-print: "\f02f";
$icon-pencil: "\f040";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-arrow-up: "\f062";
$icon-arrow-down: "\f063";
// $icon-plane: "\f072";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-automobile: "\f1b9";
$icon-car: "\f1b9";
$icon-post: "\e903";
$icon-cancellation: "\e901";
$icon-script: "\e904";
$icon-breakfast: "\e908";
$icon-recommend: "\e909";


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin icon-font() {
    font-family: 'CHR';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	pointer-events: none;

	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon-only($display: inline-block) {
  @include clearfix();

    position: relative;
    display: $display;
    text-indent: -9999px;

    &:before {
        float: right;
        text-indent: 0;
        display: block;
        line-height: initial;
    }
}

@mixin icon-inline() {
	display: inline-block;
	vertical-align: -2px;
	margin-right: $BSU;
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------


.icon:before  {
	@include icon-font();
}

.icon--inline {
	&:before {
		@include icon-inline();
	}
}

.icon--promo {
	&:before {
		@include type(38px, 66px);
		display: block;
		height: 66px;
		width: 66px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: triple($BSU);
		text-align: center;

		border-radius: 50%;
		background-color: $Colour-parking;
		color: $Colour-white;
	}

	&.icon-parking:before {
		background-color: $Colour-parking;
	}

	&.icon-hotel-park-fly:before {
		background-color: $Colour-hotelParking;
	}

	&.icon-quotes:before {
		background-color: $Colour-recent;
	}

	&.icon-thumbs-up:before {
		background-color: $Colour-popular;
	}
}

.icon-hotel-park-fly:before {
	content: $icon-hotel-park-fly;
}
.icon-parking:before {
	content: $icon-parking;
}
.icon-thumbs-up:before {
	content: $icon-thumbs-up;
}
.icon-quotes:before {
	content: $icon-quotes;
}
.icon-question-mark:before {
	content: $icon-question-mark;
}
.icon-news:before {
	content: $icon-news;
}
.icon-plane:before {
	content: $icon-plane;
}
.icon-deals:before {
	content: $icon-deals;
}
.icon-shuttle-bus:before {
	content: $icon-shuttle-bus;
}
.icon-young-families:before {
	content: $icon-young-families;
}
.icon-phone:before {
    content: $icon-phone;
}
.icon-clock:before {
    content: $icon-clock;
}
.icon-calendar:before {
    content: $icon-calendar;
}
.icon-filter:before {
    content: $icon-filter;
}
.icon-hotel:before {
	content: $icon-hotel;
}
.icon-mail:before {
	content: $icon-mail;
}
.icon-location:before {
	content: $icon-location;
}
.icon-star:before {
	content: $icon-star;
}
.icon-search:before {
	content: $icon-search;
}
.icon-cart:before {
	content: $icon-cart;
}
.icon-list:before {
	content: $icon-list;
}
.icon-chevron-right:before {
  content: $icon-chevron-right;
}
.icon-voucher-ticket:before {
  content: $icon-voucher-ticket;
}
.icon-duplicate:before {
  content: $icon-duplicate;
}
.icon-plus:before {
  content: $icon-plus;
}
.icon-minus:before {
  content: $icon-minus;
}
.icon-tick:before {
  content: $icon-tick;
}
.icon-close:before {
  content: $icon-close;
}
.icon-bin:before {
  content: $icon-bin;
}
.icon-print:before {
  content: $icon-print;
}
.icon-pencil:before {
  content: $icon-pencil;
}
.icon-chevron-left:before {
  content: $icon-chevron-left;
}
.icon-chevron-right:before {
  content: $icon-chevron-right;
}
.icon-arrow-left:before {
  content: $icon-arrow-left;
}
.icon-arrow-right:before {
  content: $icon-arrow-right;
}
.icon-arrow-up:before {
  content: $icon-arrow-up;
}
.icon-arrow-down:before {
  content: $icon-arrow-down;
}
.icon-chevron-up:before {
  content: $icon-chevron-up;
}
.icon-chevron-down:before {
  content: $icon-chevron-down;
}
.icon-automobile:before {
  content: $icon-automobile;
}
.icon-car:before {
  content: $icon-car;
}
.icon-post:before {
  content: $icon-post;
}
.icon-cancellation:before {
  content: $icon-cancellation;
}
.icon-script:before {
  content: $icon-script;
}
.icon-breakfast:before {
  content: $icon-breakfast;
}
.icon-recommend:before {
  content: $icon-recommend;
}

.icon-menu {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -9px;

	width: 18px;
	height: 2px;

	border-radius: 20%;

	background-color: $Colour-white;

	// transition: height .2s linear .5s;
	transition: background-color .1s linear .3s;

	.IconNav-itemLink--ab & {
		top: 32%;
	}

	&:before,
	&:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		margin-left: -9px;

		width: 18px;
		height: 2px;

		border-radius: 4px;

		background-color: $Colour-white;

		transition: transform .3s ease-out, margin .2s ease-out .3s;
	}

	&:before {
		margin-top: -7px;
	}

	&:after {
		margin-top: 5px;
	}

	.is-activeMenu & {

		// height: 0;
		background-color: transparent;
		transition: background-color .1s linear .2s;

		&:before,
		&:after {
			margin-top: 0;

			transition: margin .3s ease-in, transform .2s ease-in .3s;
		}

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}
