// --------------------------------------------------------------------------
// INPUT BASE
// --------------------------------------------------------------------------
//
// The .input class can be used to style markup to look like a button/form input.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

//
// Input BASE
//
// The .input class can be used to style markup to look like a button/form input.
//
// DEPENDENCIES </br>
// - none
//
// EXTENDS </br>
// -
//
// VARIABLES </br>
// -
//
// .input						- input styling
// .input--multiline			- multi line styling
//
// Markup:
// <textarea class="input input--multiline" placeholder="Base input styling"></textarea>
// <button href="#" class="input">Base button styling</button>
// <input type="text" class="input {$modifiers}" placeholder="Base input styling" />
//
// Styleguide 7.1.0.


// VARIABLES START ->

// --------------------------------------------------------------------------
// INPUT VARIABLES
// --------------------------------------------------------------------------

$input-paddingVertical: $BSU * 1.25 !default;
$input-paddingVertical--small: $BSU * 1 !default;
$input-paddingHorizontal: $BSU * 2.5 !default;
$input-paddingHorizontal--small: $BSU * 1.5 !default;
$c-input-fontSize: $FontSize-c2 !default;
$c-input-fontSize--small: $FontSize-c4 !default;
$c-input-lineHeight: ($c-input-fontSize / ($c-input-fontSize * 0 + 1)) / 17 !default;
$c-input-lineHeight--small: ($c-input-fontSize--small / ($c-input-fontSize--small * 0 + 1)) / 15 !default;
$c-input-borderRadius: 6px !default;
// $input-border: 1px solid $Colour-border;
$input-align: top !default;
$input-outline: none !default;

$input-backgroundColour: transparent !default;

$inputMulti-multiplier: 4 !default;


// VARIABLES END <-




// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------

@mixin input($line-multiplier: 1) {
	@include type($FontSize-c3, $LineHeight-base);
	display: block;
	width: 100%;
	padding: ($BSU) double($BSU);
	// margin-top: halve($BSU);
	height: double($BSU) + round($line-multiplier * ($FontSize-c2 * $LineHeight-base));

	border: 1px solid $Colour-inputBorder;
	border-radius: 3px;
	background-color: $Colour-inputBG;
	color: $Colour-text;
	outline: none;

	&:hover,
	&:focus {
		// background-color: $Colour-border--contrast;
        border-color: $Colour-action;
		transition: background .2s;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

// .input {}


//
// Input select
//

// .inputTextarea {
	// @include input-multiline();
// }
