// --------------------------------------------------------------------------
// LIST BASE
// --------------------------------------------------------------------------
//
// Base list styling utilities.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin list-reset() {
	list-style: none;
	// margin: 0;
	padding-left: 0;
}

@mixin list-inline() {
	li {
		display: inline-block;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.list-reset {
    @include list-reset();
}

.list-inline {
    @include list-reset();
    @include list-inline();
}

.list-inlineScroll {
    @include list-reset();
    @include list-inline();

	white-space: nowrap;
	overflow-x: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

.list-tick {
	font-family: $FF-book;
	list-style: none;
	margin-top: $FontSize-c3;
	padding-left: 0;

	+ * {
		margin-top: $FontSize-c3; //testing
	}

	li {
		position: relative;
		padding-left: $BSU * 4;

		&:before {
			@include icon-font();
			content: $icon-tick;
			font-size: 120%;

			position: absolute;
			top: 2px;
			left: 0;

			color: $Colour-success;
		}

		+ li {
			margin-top: halve($BSU);
		}
	}
}
