// --------------------------------------------------------------------------
// LIST BASE
// --------------------------------------------------------------------------
//
// Base list styling utilities.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin list-reset() {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin list-inline() {
	li {
		display: inline-block;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.list-reset {
    @include list-reset();
}

.list-inline {
    @include list-reset();
    @include list-inline();
}
