// --------------------------------------------------------------------------
// PILL BASE
// --------------------------------------------------------------------------
//
// Pills for all
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------
@mixin pill($font-size: $FontSize-c4, $colour: $Colour-text, $bg-colour: $Colour-white, $border-colour: $Colour-border) {
    @include type($font-size, 1, $FF-heavy);
    padding: $BSU double($BSU);

    color: $colour;
    background-color: $bg-colour;
    border: 1px solid $border-colour;
    border-radius: double($BSU);
}


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.pill {
    @include pill();
}

.pill--primary {
    background-color: $Colour-primary;
    color: $Colour-white;
}

.pillNote {
    @include pill($FontSize-c4, $Colour-baseType--lighten, $Colour-noteWash, $Colour-noteBorder);
}
