// -------------------------------------
// SPACING BASE
// -------------------------------------
//
// Spacing to be used to add spacers between content
//

/**
 * DEPENDENCIES
 * - none
 */


// -------------------------------------
// VARIABLES
// -------------------------------------


// -------------------------------------
// FUNCTIONS
// -------------------------------------



// -------------------------------------
// MIXINS
// -------------------------------------



// -------------------------------------
// STYLING
// -------------------------------------

.mt {
	margin-top: $Base-spacing-unit;
}

.mt-2,
.mt\+ {
	margin-top: double($Base-spacing-unit);
}

.mt-3 {
	margin-top: ($Base-spacing-unit * 3);
}

.mt-4 {
	margin-top: ($Base-spacing-unit * 4);
}

.mt-6 {
	margin-top: ($Base-spacing-unit * 6);
}

.mt-9 {
	margin-top: ($Base-spacing-unit * 9);
}
