// --------------------------------------------------------------------------
// TYPE HEADING BASE
// --------------------------------------------------------------------------
//
// Typography base classes which can be used and extended to bring reusable type styling.
// typeHeading styles that is used to add constant styling to typeHeadings.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin type($font-size: $Font-size-b, $line-height: false, $font-weight: false) {
	@include font-size($font-size);

	@if ($line-height != false) {
		line-height: $line-height;
	}

	@if ($font-weight != false) {
		font-family: $font-weight;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

//
// Large regular style font styling
//

.typeDisplay,
.display-1 {
	@include type($FontSize-d1 - 16px, $LineHeight-d1);
	color: $Colour-base;

	@include media('>=tab') {
		@include font-size($FontSize-d1 - 6px);
	}

	@include media('>=lap') {
		@include font-size($FontSize-d1);
	}
}

.display-2 {
	@include type($FontSize-d2, $LineHeight-d2);
}

.displaySub-1 {
	@include type($FontSize-ds1 - 8px, 1.3, $FF-book);

	color: $Colour-base;

	@include media('>=tab') {
		@include font-size($FontSize-ds1 - 4px);
	}

	@include media('>=lap') {
		@include type($FontSize-ds1, $LineHeight-ds1);
	}
}



//
// Heading text styling
//

.typeHeading,
.heading {
	@include type($FontSize-h1, $LineHeight-h1, $FontWeight-bold);
}



//
// Copy text styling
//

.typeCopy,
.copy {
	@include type($FontSize-c3);
}

.typeCopy-l,
.copy-l {
	@include type($FontSize-c1);
}

.typeCopy-s,
.copy-s {
	@include type($FontSize-c4);
}

.type-p {
	@include type($FontSize-c3);
	color: $Colour-text;
}

.type-ps {
	@include type($FontSize-c4);
	color: $Colour-text;
}


//
// link-text
//

.link-text {
	color: $Colour-text;

	&:hover,
	&:focus {
		color: $Colour-primary;
	}
}



//
// Text colour alternatives
//

.type-base {
	color: $Colour-baseType;
}

.type-text {
	color: $Colour-text;
}

.type-baseContrast {
	color: $Colour-baseType--contrast;
}

.type-primary {
	color: $Colour-primary;
}

.type--accent {
	color: $Colour-accent;
}
