// --------------------------------------------------------------------------
// UTILS BASE
// --------------------------------------------------------------------------
//
// Utility classes that help with tiny comon cases
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin hide($break: '<tab') {
	@include media($break) {
		display: none!important;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.a-center {
	text-align: center;
}

.a-middle {
	margin-left: auto;
	margin-right: auto;
}

.a-right {
	text-align: right;
}

.block {
	display: block;
}

.v-middle {
	display: inline-block;
	vertical-align: middle;
}

.a-h3 {
	display: inline-block;
	vertical-align: top;
	line-height: $FontSize-h3 * $LineHeight-h3;
}

.block-tab {
	@include media('>=tab', '<lap') {
		display: block;
	}
}

.hide {
	display: none!important;
}

.hide-mob {
	@include hide('<tab');
}

.hide-tab {
	@include hide('>=tab');
}

.hide-tabDown {
	@include hide('<lap');
}

.hide-lap {
	@include hide('>=lap');
}

.hide-lapDown {
	@include hide('<lap');
}
