// --------------------------------------------------------------------------
// UTILS BASE
// --------------------------------------------------------------------------
//
// Utility classes that help with tiny comon cases
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin hide($break: '<tab') {
	@include media($break) {
		display: none;
	}
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.center {
	text-align: center;
}

.block {
	display: block;
}

.hide-tab {
	@include hide('>=tab');
}

.hide-lapDown {
	@include hide('<lap');
}
