<footer class="m-Footer">
    <div class="Grid Grid--panels">
        <div class="Grid-column s-1/2--tab">
            <div class="Media">
                <div class="Media-image s-1/4 type-center">
                    <img src="../assets/image/hero/hp/best_price_sticker.png" class="aspect">
                </div>
                <div class="Media-body">
                    <h3>Best Price Guarantee</h3>
                    <p>We provide a no-quibble Best Price Guarantee on all bookings made with us.</p>
                    <a href="#" class="mt+">Find out how it works</a>
                </div>
            </div>
        </div>

        <div class="Grid-column s-1/2--tab divider-l divider--contrast">
            <div class="Awards">
                <div class="Awards-image">
                    <div class="Awards-item">
                        <style>.feefo-badge__image{ display: block; max-width: 100%; }</style><div class="feefo-badge"><a href="http://ww2.feefo.com/en-GB/reviews/heathrowparking-com" class="feefo-badge__link"><img src="https://s3.amazonaws.com/neon-media/Logos/Feefo/feefo_gold_2017.jpg" alt="Feefo Gold Trusted Service 2017" class="feefo-badge__image"></a></div>
                    </div>

                    <div class="Awards-itemFront">
                        <style>.feefo-badge__image{ display: block; max-width: 100%; }</style><div class="feefo-badge"><a href="http://ww2.feefo.com/en-GB/reviews/heathrowparking-com" class="feefo-badge__link"><img src="https://s3.amazonaws.com/neon-media/Logos/Feefo/feefo_gold_2018.jpg" alt="Feefo Gold Trusted Service 2018" class="feefo-badge__image"></a></div>
                    </div>
                </div>

                <div class="Awards-body">
                    <div class="Awards-head Awards-head--alt">Awarded two years running!</div>
                </div>
            </div>
        </div>
    </div>
</footer>
