<footer class="m-Footer paint">
    <div class="Tiles">
        <div class="Tiles-row">
            <div class="Tiles-column s-1/2--tab">
                <div class="Media">
                    <div class="Media-image s-1/4">
                        <img src="../assets/image/hero/hp/best_price_sticker.png" class="aspect">
                    </div>
                    <div class="Media-body">
                        <h3>Best Price Guarantee</h3>
                        <p>We provide a no-quibble Best Price Guarantee on all bookings made with us.</p>
                        <a href="#" class="mt+">Find out how it works</a>
                    </div>
                </div>
            </div>

            <div class="Tiles-column s-1/2--tab">
                <div class="Awards">
                    <div class="Awards-image">
                        <div class="Awards-item">
                            <style>.feefo-badge__image{ display: block; max-width: 100%; }</style><div class="feefo-badge"><a href="http://ww2.feefo.com/en-GB/reviews/heathrowparking-com" class="feefo-badge__link"><img src="https://s3.amazonaws.com/neon-media/Logos/Feefo/feefo_gold_2017.jpg" alt="Feefo Gold Trusted Service 2017" class="feefo-badge__image"></a></div>
                        </div>

                        <div class="Awards-itemFront">
                            <style>.feefo-badge__image{ display: block; max-width: 100%; }</style><div class="feefo-badge"><a href="http://ww2.feefo.com/en-GB/reviews/heathrowparking-com" class="feefo-badge__link"><img src="https://s3.amazonaws.com/neon-media/Logos/Feefo/feefo_gold_2018.jpg" alt="Feefo Gold Trusted Service 2018" class="feefo-badge__image"></a></div>
                        </div>
                    </div>

                    <div class="Awards-body">
                        <div class="Awards-head">Awarded two years running!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="Grid">
            <div class="Grid-column s-3/4--tab s-2/3--lap">
                <div class="Grid">
                    <div class="Grid-column s-1/2 s-30--tab s-1/4--lap">
                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">{{ site.website }}</li>
                            <li>
                                <a href="/site/about-us/" class="Nav-link">About Us</a>
                            </li>
                            <li>
                                <a href="/site/contact-us/" class="Nav-link">Contact Us</a>
                            </li>
                            <li>
                                <a href="faq.html" class="Nav-link">FAQs</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">News</a>
                            </li>
                        </ul>
                    </div>

                    <div class="Grid-column s-1/2 s-1/4--tab s-1/4--lap">
                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">Airport Parking</li>
                            <li>
                                <a href="/" class="Nav-link">Meet and Greet</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Park and Ride</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Hotel Park and Fly</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Valet Parking</a>
                            </li>
                        </ul>

                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">Deals</li>
                            <li>
                                <a href="/" class="Nav-link">Best Deals</a>
                            </li>
                        </ul>
                    </div>

                    <div class="Grid-column s-1/2 s-1/5--tab s-1/4--lap">
                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">Terminals</li>
                            <li>
                                <a href="/" class="Nav-link">Terminal 1</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Terminal 2</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Terminal 3</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Terminal 4</a>
                            </li>
                            <li>
                                <a href="/" class="Nav-link">Terminal 5</a>
                            </li>
                        </ul>


                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">Information</li>
                            <li>
                                <a href="shuttle-buses.html" class="Nav-link">Shuttle Buses</a>
                            </li>
                        </ul>
                    </div>

                    <div class="Grid-column s-1/2 s-1/4--tab s-1/4--lap">
                        <ul class="Nav Nav--list Nav--s">
                            <li class="Nav-heading">Parking Providers</li>
                            <li>
                                <a href="#" class="Nav-link">Official (BAA)</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">NCP</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">Purple Parking</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">LHR Meet and Greet</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">Meteor Meet and Greet</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">Click Park</a>
                            </li>
                            <li>
                                <a href="#" class="Nav-link">Perfect Parking</a>
                            </li>
                            <li>
                                <a class="Nav-link Nav-link--action" href="provider-list.html">View more</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="Grid-column s-1/4--tab s-1/3--lap">
                <ul class="Nav Nav--list Nav--s">
                    <li class="Nav-heading">Contact Us</li>
                    <li>Reservations <a href="tel:01279 882 333" class="Nav-link block-tab">{{ site.telephone }}</a></li>
                    <li class="Nav-break--tab">Email <a href="mailto:support@stanstedparking.com" class="Nav-link block-tab">{{ site.supportEmail }}</a></li>
                </ul>

                <img src="../assets/image/badges/cards.png" alt="" class="aspectImg mw-10 mt-3">

                <div class="Media Media--s mt-3">
                    <img src="../assets/image/badges/bpa.png" alt="" class="Media-image aspectImg mw-5">
                    <div class="Media-body">
                        <div class="type-ps">Members of the British Parking Association</div>
                    </div>
                </div>
            </div>
        </div> <!-- End of .container -->
    </div> <!-- End of .panel -->

    <div class="panel- dividerContrast">
        <div class="Grid">
            <div class="Grid-column s-2/3--tab">
                <div class="type-ps">
                    © 2018 City Hotel Reservations Limited. All rights reserved.
                    <nobr>
                    <a href="https://www.heathrowparking.com/terms-and-conditions" class="link-text">Legal</a>
                    |
                    <a href="https://www.heathrowparking.com/privacy" class="link-text">Privacy</a>
                    </nobr>
                </div>
            </div>

            <div class="Grid-column s-1/3--tab a-right">
                <div class="type-ps">
                    Our sites:
                    <div class="Dropdown">
                        <a href="" class="Dropdown-link">heathrowparking.com</a>

                        <div class="Dropdown-bodyAbove">
                            <ul class="list-reset">
                                <li><a href="https://www.birminghamparking.com" target="_blank" rel="nofollow">birminghamparking.com</a></li>
                                <li><a href="https://www.bristolparking.com" target="_blank" rel="nofollow">bristolparking.com</a></li>
                                <li><a href="https://www.edinburghparking.com" target="_blank" rel="nofollow">edinburghparking.com</a></li>
                                <li><a href="https://www.gatwickreservations.com" target="_blank" rel="nofollow">gatwickreservations.com</a></li>
                                <li><a href="https://www.glasgowparking.com" target="_blank" rel="nofollow">glasgowparking.com</a></li>
                                <li><a href="https://www.heathrowparking.com" target="_blank" rel="nofollow">heathrowparking.com</a></li>
                                <li><a href="https://www.lutonparking.com" target="_blank" rel="nofollow">lutonparking.com</a></li>
                                <li><a href="https://www.manchesterparking.com" target="_blank" rel="nofollow">manchesterparking.com</a></li>
                                <li><a href="https://www.stanstedparking.com" target="_blank" rel="nofollow">stanstedparking.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
