{%- include cookie-notice.html -%}

<header class="m-Header">

    <div class="container">
        <a class="Brand" href="index.html">
           <span class="Brand-copy">
              <div class="Brand-airport">{{ site.airport }}</div>
              <span class="Brand-site">Parking.com</span>
           </span>
        </a>

        <div class="m-Header-nav">
            <div class="m-Header-taskbar">
                <ul class="IconNav has-cart">
                    <li class="s-1/4">
                        <a class="IconNav-itemLink icon-search" href="index.html">Search</a>
                    </li>

                    <li class="s-1/4">
                        <a class="IconNav-itemLink icon-cart" href="#">
                            Bookings
                            <span class="IconNav-itemBadge">4</span>
                        </a>
                    </li>

                    <li class="s-1/4">
                        <a class="IconNav-itemLink icon-phone" href="#">Phone</a>
                    </li>

                    <li class="s-1/4">
                        <a class="IconNav-itemLink IconNav-itemLink--ab" href="#">
                            <span class="icon-menu"></span>
                            Menu
                        </a>
                    </li>
                </ul>
            </div>

            <nav class="m-Header-menu">
                <ul class="m-Header-navbar m-Header-navbar--primary">
                    <li><a href="#" class="m-Header-navbarItemLink">Home</a></li>
                    <li><a href="#" class="m-Header-navbarItemLink">Hotel Park &amp; Fly</a></li>
                    <li><a href="#" class="m-Header-navbarItemLink">Airport Parking</a></li>
                </ul>

                <ul class="m-Header-navbar m-Header-navbar--secondary">
                    <li class="m-Header-navbarItemCopy">Reservations <strong>0845 678 678</strong></li>
                    <li><a href="#" class="m-Header-navbarItemLink">Manage Booking</a></li>
                </ul>
            </nav>

            <a href="#" class="m-Header-basket">
                <span class="m-Header-basketIcon"><span class="m-Header-basketIconBadge">4</span></span>
                <span class="m-Header-basketText"><span class="hide-lapDown">Bookings:</span> <strong>£340.85</strong></span>
            </a>
        </div>
    </div>

</header>
