<header class="m-Header">

    <div class="container">
        <a class="Brand" href="index.html">
           <span class="Brand-copy">
              <div class="Brand-airport">{{ site.airport }}</div>
              <span class="Brand-site">Parking.com</span>
           </span>
        </a>

        <div class="m-Taskbar">
            <ul class="IconNav has-cart">
                <li class=""><a class="IconNav-itemLink icon-search" href="index.html">Search</a></li>
                <li class=""><a class="IconNav-itemLink cart" href="#" data-slide="handheldBasket">Cart<em>4</em></a></li>
                <li class=""><a class="IconNav-itemLink phone" href="#">Phone</a></li>
                <li class=""><a class="IconNav-itemLink mobileNav__icon-nav" href="#" data-slide="handheldNavigation"><em class="nav"></em>Menu</a></li>
            </ul>
        </div>
    </div>



    <!-- <div class="mobileHead">
        <a class="brand" href="index.html">
           <span class="brand-copy">
              <div class="brand-airport">Heathrow</div>
              <span class="brand-site">Parking.com</span>
           </span>
        </a>
    </div>

    <div class="mobileNav">
        <ul class="mobileNav__list has-cart">
            <li><a class="icon-search" href="index.html"></a></li>
            <li><a class="cart" href="#" data-slide="handheldBasket">Cart<em>4</em></a></li>
            <li><a class="phone" href="#">Phone</a></li>
            <li><a class="mobileNav__icon-nav" href="#" data-slide="handheldNavigation"><em class="nav">Nav</em></a></li>
        </ul>

        <nav class="handheldNavigation">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Hotel Park &amp; Fly</a></li>
                <li><a href="#">Airport Parking</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Manage Booking</a></li>
            </ul>
        </nav>
        <div class="handheldBasket">
            <p>4 Bookings: <strong>£340.85</strong><a href="#">Confirm &gt;</a></p>
        </div>
    </div>

    <div class="mainHead">

        <div class="container">

           <a class="brand" href="index.html">
              <span class="brand-copy">
                 <div class="brand-airport">Heathrow</div>
                 <span class="brand-site">parking.com</span>
              </span>
           </a>

            <div class="actions">
                <h2><span>Reservations</span> <a href="tel:0845678678">0845 678 678</a></h2>
                <ul>
                    <li><a href="manage-booking-login.html">Manage Booking</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li><a class="nav-home" href="index-roger.html">Home</a></li>
                    <li><a href="airport-parking.html">Parking</a></li>
                    <li><a href="hotel-park-and-fly.html">Hotels</a></li>
                    <li><a href="hotel-park-and-fly.html">Hotel &amp; Parking</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                </ul>
            </nav>

            <div class="basket">
                <p>4 Bookings: <strong>£340.85</strong></p>
                <a href="#">Confirm &gt;</a>
            </div>

        </div>

    </div> -->

</header>
