<div class="m-Hero">
    <div class="m-Hero-body">
        <div class="m-Hero-copy">
            <h1 class="display-1">Search, Compare &amp; Book {{ site.airport }} Airport Parking</h1>
            <p class="displaySub-1 mt+ hide-mob">Helps you find, compare &amp; book car parking at London {{ site.airport }} Airport, simply and easily.</p>
            <img src="../assets/image/hero/hp/best_price_sticker.png" class="m-Hero-sticker">
        </div>

        <div class="m-Search">
            <ul class="Tabs-nav">
                <li class="Tabs-navItem"><a href="#search-parking" class="Tabs-navLink is-active">Airport Parking</a></li>
                <li class="Tabs-navItem"><a href="#search-park-fly" class="Tabs-navLink">Hotel Park &amp; Fly</a></li>
            </ul>

            <form action="http://heathrowparking.com/catalogue/search" method="get" data-sign="true" class="FormStack--mob-">
                <input type="hidden" name="category" value="1">
                <input type="hidden" name="site" value="">

                <div id="search-parking" class="Tabs-body is-active">
                    {%- include search/parking-form.html -%}
                </div>

                <div id="search-park-fly" class="Tabs-body is-active-">
                    {%- include search/hotel-parking-form.html -%}
                </div>
            </form>
        </div>
    </div>
</div>
