<div id="Testimonial" class="Testimonial">
    <div class="Testimonial-bg">
        <div class="Testimonial-semi">
            <canvas class="Testimonial-semiCanvas" height="2" width="1"></canvas>
            <svg id="cicle" viewBox="0 0 100 200" perserveaspectratio="xMinYMid">
                <path d="M100 200 V0 C50 0 0 50 0 100 C0 150 50 200 100 200Z" fill="#e9f9fe"></path>
            </svg>

            <div class="Testimonial-bgRec"></div>
        </div>
        <div class="Testimonial-bgRec"></div>
    </div>

    <blockquote class="Testimonial-block">
        <div class="Testimonial-copy">Lorem ipsum dolor sit amet!</div>

        <footer>
            Mr M Hamm rated Business Parking Terminals 1 and 3 - 5.0 out of 5
        </footer>
    </blockquote>
</div>
