// --------------------------------------------------------------------------
// FORMS ELEMENTS
// --------------------------------------------------------------------------
//
// Form elements
//

/**
 * DEPENDENCIES
 * - none
 */



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

// $inputForm-height: $Base-spacing-unit * 3 !default;  // TODO: need to fix to match up to base input styling
$c-inputForm-backgroundColour: $Colour-white !default;
$inputForm-borderColour: $Colour-border !default;
$c-inputForm-borderColour--focus: $Colour-base !default;
$c-inputForm-backgroundColour--focus: false !default;

$inputFormPlaceholder-colour: $Colour-inactive !default;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------


/**
 * Label Notes
 * Very simple base styles which can be built apon with formfield classes
 */

label {}



/**
 * input Notes
 *
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {}



/**
 * input Submit Notes
 *
 */

input[type="submit"] {
    @include button();
    @include button--paint();
}



/**
 * Select Notes
 *
 */

select {}



/**
 * Textarea Notes
 *
 */

textarea {}
