// --------------------------------------------------------------------------
// LINK ELEMENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * -
 *
 *
 * USED WITH
 * -
 *
 */

 // Styleguide 20.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------

$c-link-colour: $Colour-action !default;
$c-link-colour--hover: $Colour-action--dark !default;

$c-link-outline: 0;



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------


a {
	font-family: $FF-heavy;
	display: inline-block;
	
	color: $c-link-colour;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $c-link-colour--hover;
	}
}
