// --------------------------------------------------------------------------
// PARAGRAPH ELEMENT
// --------------------------------------------------------------------------

/**
 * Intro text
 *
 *
 * DEPENDENCIES
 * - base/type
 *
 *
 * USED WITH
 * -
 *
 */

 // Styleguide 22.1.0.



// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// EXTENDABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------


p {
	@include type($FontSize-c3);
	color: $Colour-text;

	* +& {
		margin-top: $FontSize-c3;
	}

	h3 +& {
		margin-top: halve($FontSize-c3);
	}
}
