// --------------------------------------------------------------------------
// TASKBAR COMPONENT
// --------------------------------------------------------------------------
//
// Creates a task bar at the bottom of the screen
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.IconNav {
    @include list-reset();
    // @include list-inline();

    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.IconNav-itemLink {
    @include type(12px, 1, $FontWeight-bold);
    display: block;
    
    text-decoration: none;
    color: $Colour-white;
}
