---
layout: default
---

<div class="panel">
    <div class="container">
        <div class="CardContent">
            <h1>About Us</h1>

            <div class="Card-section">
                <div class="Grid Grid--stackTabDown">
                    <div class="Grid-column s-2/3--lap">
                        <div class="Media">
                            <img src="https://s3.amazonaws.com/neon-media/General/about_logo.png" alt="Heathrow Parking Logo" class="Media-image aspectImg hide-mob">
                            <div class="Media-body">
                                <h4>Who are we?</h4>
                                <p>Launched in 2012, HeathrowParking.com, is a brand of City Hotel Reservations Limited (CHR). CHR is an independent booking agent specialising in airport extras including hotels, Park and Fly services and car parking at all major UK airports. This includes Heathrow, Gatwick, Stansted, Luton, Birmingham, Manchester, Bristol, Glasgow and Edinburgh. Established in 2003 CHR has helped millions of satisfied customers benefit from a range of great deals.</p>
                                <p>We pride ourselves on delivering unrivalled service, and are committed to dealing with queries, questions or complaints promptly and professionally at all times. Car park security, driver reliability and customer care are of the utmost importance to us. Before signing an agreement to work with any parking provider, we personally visit and check their parking compounds, insurance documents and general operational practices to ensure they meet our exacting standards.</p>
                            </div>
                        </div>
                        <p>HeathrowParking.com is the fast, convenient and economical way to book your parking at Heathrow airport. All our parking deals come with a best price guarantee, and we are confident that none of our products will be found cheaper elsewhere. We continuously monitor our competitors to ensure that we are able to beat the price of any other booking intermediary at Heathrow airport. In the unlikely event that you find the same deal at a lower price elsewhere, we promise to match the price.~</p>

                        <h4>Get in touch</h4>
                        <p>If you have any questions please first consult our FAQs as we regularly update them with the answers to the most frequently asked questions. If your question has not been answered please send us an email to support@heathrowparking.com and we'll get back to you as soon as we can, alternatively just give us a call.</p>
                        <p>~Conditions may apply.</p>
                    </div>

                    <div class="Grid-column s-1/3--lap">
                        <h4>Our Mission</h4>
                        <p>HeathrowParking.com’s mission is to deliver a seamless booking experience for our customers and to offer a range of vetted and approved products at unbeatable prices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
