---
layout: default
---

{%- include hero.html -%}

<div class="home panel">

    <div class="Grid a-center">
        <div class="Grid-column s-1/4--tab">
            <!-- <div class="icon icon-quotes icon--promo"></div> -->
            <div class="display-2 icon icon-quotes icon--promo">Recent Prices</div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s-">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text copy-s">£10.35 per day</div>
                    </div>
                </div>
            </div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text">£10.35 per day</div>
                    </div>
                </div>
            </div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text">£10.35 per day</div>
                    </div>
                </div>
            </div>
        </div> <!-- end recent .Grid -->

        <div class="Grid-column s-1/4--tab">
            <div class="display-2 icon icon-thumbs-up icon--promo">Most Popular</div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text">£10.35 per day</div>
                    </div>
                </div>
            </div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text">£10.35 per day</div>
                    </div>
                </div>
            </div>

            <div class="Media mt-3">
                <a href="#" class="">Purple Parking Meet and Greet</a>
                <div class="Media Media--s mt">
                    <div class="Media-imageMiddle price">
                        <sup>£</sup>59<sub>.79</sub>
                    </div>
                    <div class="Media-bodyMiddle copy-s">
                        <time datetime="2012-03-21">March 21-25 (4 days)</time>
                        <div class="type-text">£10.35 per day</div>
                    </div>
                </div>
            </div>
        </div> <!-- end popular .Grid -->

        <div class="Grid-column s-1/4--tab">
            <div class="display-2 icon icon-parking icon--promo">Airport Parking</div>
            <p>Compare <strong>{{ site.airport }} parking</strong> Meet and Greet, Park and Ride and Hotel Park and Fly deals all with a best price guarantee. Enter your required parking dates into the search form above and filter through results to find your parking solution.</p>
            <p><strong>Meet and Greet</strong> parking is a popular choice. Drive into the Multi-Storey car park and drop your car at the Meet and Greet zone on Level 3. Walk to the terminal from there in 5 minutes. You car is delivered back here on your return.</p>
        </div> <!-- end parking .Grid -->

        <div class="Grid-column s-1/4--tab">
            <div class="display-2 icon icon-hotel-park-fly icon--promo">Hotel Parking</div>
            <p>Have an early flight, or you simply wish to be located near to the airport on the day that you travel? Consider combining your {{ site.airport }} parking with an overnight stay in an airport hotel. This is referred to as a <strong>Hotel Park and Fly</strong> package.</p>
            <p>{{ site.airport }}parking.com compares all {{ site.airport }} Airport hotels that offer best price guaranteed park and fly deals so you can decide which one will suit you best. You will never find a like for like product selling anywhere for less!</p>
        </div> <!-- end hotel parking .Grid -->
    </div>

    <!-- <div class="Grid">
        <div class="Grid-column">
            {{ content }}
        </div>
    </div> -->
</div>

<div class="Partners">
    <div class="container">
        <ul class="Partners-row">
            <li class="Partners-item"><a href="#" title="BAA"><img src="../assets/image/dummy/providers/1.png" alt="BAA" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/2.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/3.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/4.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/5.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/6.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/7.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/providers/8.png" class="aspectImg"></a></li>
        </ul>
        <ul class="Partners-row">
            <li class="Partners-item"><a href="#" title="Sofitel"><img src="../assets/image/dummy/hotels/1.png" alt="Sofitel" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/2.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/3.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/4.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/5.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/6.png" class="aspectImg"></a></li>
            <li class="Partners-item"><a href="#"><img src="../assets/image/dummy/hotels/7.png" class="aspectImg"></a></li>
        </ul>
    </div>
</div>
