// --------------------------------------------------------------------------
// FOOTER MODULE
// --------------------------------------------------------------------------
//
// Module for footer styling
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Footer {
    .has-cookieNotice & {
        @include media('>=tab') {
            padding-bottom: 81px;
        }

        @include media('>=1075px') {
            padding-bottom: 72px;
        }
    }

    .Dropdown-link {
        padding: 0;
    }
}
