// --------------------------------------------------------------------------
// HERO MODULE
// --------------------------------------------------------------------------
//
// Hero module
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Hero {
    @include media('<tab') {
        padding-top: 20px;

        background-color: $Colour-heroBgTabs;
    }

    .Tabs-body {
        background-color: $Colour-searchBG;
    }
}
