.m-Provider {
    .list-tick {
        margin-top: double($BSU);

        @include media('>=tab') {
            margin-top: triple($BSU);
        }
    }
}

.m-Provider-heroBody {
    position: relative;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    @include media('<tab') {
        text-align: center;
    }

    @include media('>=lap') {
        width: percentage(3/4);
    }
}

.m-Provider-brandWrap {
    position: relative;

    @include media('<tab') {
        padding-bottom: 94px + 24px;
    }

    @include media('>=tab') {
        width: 80%;
    }


    + * {
        margin-top: $BSU;

        @include media('>=tab') {
           margin-top: $Column-gutter;
       }
    }
}

.m-Provider-brandImageWrap {
    @include media('<tab') {
        position: absolute;
        bottom: 0;
        // left: 50%;
        left: 0;
        right: 0;
        // transform: translateX(-50%);
        text-align: center;
    }

    @include media('>=tab') {
        // padding-bottom: $Column-gutter;
        display: inline-block;
        vertical-align: middle;
        margin-right: $Layout-gutter;

        .m-Provider--product & {
            vertical-align: top;
        }
    }

    @include media('>=lap') {
        margin-right: double($Layout-gutter);
    }
}

.m-Provider-brandImage {
    @include media('<tab') {
        display: inline-block;
        vertical-align: middle;
    }
}

.m-Provider-brandType {
    @include media('<tab') {
        display: inline-block;
        vertical-align: middle;
        margin-left: $Column-gutter;
    }

    @include media('>=tab') {
        margin-top: double($BSU);
    }
}

.m-Provider-brandIntro {
    @include media('>=tab') {
        display: inline-block;
        vertical-align: middle;
        width: 71%;

        .m-Provider--product & {
            vertical-align: top;
        }
    }

    @include media('>=lap') {
        width: 66%;
    }

    h1 {
        @include media('>=tab') {
            @include font-size(30px);
        }
    }

    .copy-l {
        @include media('>=tab') {
            padding-top: halve($BSU);
        }
    }
}

.m-Provider-sticker {
    max-width: 3.5rem;

    @include media('<tab') {
        position: absolute;
        bottom: 98px;
        left: 50%;
        transform: translateX(-96px);
    }

    @include media('>=tab') {
        max-width: 4.5rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: $Layout-gutter;
    }

    @include media('>=lap') {
        margin-right: $Layout-gutter * 1.5;
    }
}

.m-Provider-bylineWrap {
    @include media('>=tab') {
        display: inline-block;
        vertical-align: middle;
        width: 82%;
    }
}

.m-Provider-byline {
    color: $Colour-text;

    @include media('>=tab') {
        @include font-size($FontSize-c1);
    }
}

// .m-Provider-search {
//     @include media('>=lap') {
//         width: percentage(1/4);
//     }
// }
