.m-Provider {

}

.m-Provider-hero {
    @include media('>=lap') {
        max-width: $Layout-maxWidth;
        margin-left: auto;
        margin-right: auto;
        padding-left: $Grid-gutter--lap;
        padding-right: $Grid-gutter--lap;
        letter-spacing: -0.31em;
        text-rendering: optimizespeed;
    }
}

.m-Provider-heroBody,
.m-Provider-search {
    @include media('>=lap') {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        text-rendering: auto;
        padding-left: $Column-gutter;
        padding-right: $Column-gutter;
    }

}

.m-Provider-heroBody {
    position: relative;

    @include media('<tab') {
        text-align: center;
    }

    @include media('>=tab', '<lap') {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: $BSU * 8;
    }

    @include media('>=lap') {
        width: percentage(3/4);
    }
}

.m-Provider-brandWrap {
    position: relative;
    padding-bottom: 94px;

    @include media('>=tab') {
        padding-bottom: $Column-gutter;
    }
}

.m-Provider-brandImage {
    @include media('<tab') {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.m-Provider-brandIntro {
    width: 75%;
}

.m-Provider-sticker {
    max-width: 4rem;

    @include media('<tab') {
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX(-122px);
    }
}

.m-Provider-byline {
    color: $Colour-text;

    @include media('>=tab') {
        @include font-size($FontSize-c1);
    }
}

.m-Provider-search {
    @include media('>=lap') {
        width: percentage(1/4);
    }
}
