// --------------------------------------------------------------------------
// SEARCH MODULE
// --------------------------------------------------------------------------
//
// Search module
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Search {
    // padding: $Column-gutter;

    // background-color: $Colour-searchBG;

    .Form-submit {
        @include button--paint();
        @include font-size(21px);
        width: 100%;
        margin-top: $BSU;

        &:before {
            @include icon-font();
            content: $icon-search;
            font-size: 120%;

            display: inline-block;
            vertical-align: -3px;
            margin-right: double($BSU);
        }
    }
}
