// --------------------------------------------------------------------------
// SEARCH MODULE
// --------------------------------------------------------------------------
//
// Search module
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Search,
.m-SearchAside {
    // padding: $Column-gutter;

    // background-color: $Colour-searchBG;
    .Tabs-nav {
        text-align: center;
        padding-left: $Column-gutter;
        padding-right: $Column-gutter;
    }

    // .Tabs-body {
    //     padding-top: $Column-gutter;
    //     padding-bottom: $Column-gutter;
    // }

    // form {
        // @include media('>=tab') {
            // letter-spacing: -0.31em;
            // text-rendering: optimizespeed;

            // margin-left: - halve($BSU);
            // margin-right: - halve($BSU);
        // }
    // }

    .Form-field {
        padding-left: $BSU;
        padding-right: $BSU;

        @include media('>=tab') {
        	padding-left: halve($BSU);
        	padding-right: halve($BSU);
        }
    }

    .Form-input,
    .Form-select select {
        background-color: $Colour-white;
        border-color: $Colour-borderSolid;
    }

    .Form-submit {
        @include button--paint();
        @include font-size(21px);
        width: 100%;

        &:before {
            @include icon-font();
            content: $icon-search;
            font-size: 120%;

            display: inline-block;
            vertical-align: -3px;
            margin-right: double($BSU);

            @include media('>=tab') {
                margin-right: $BSU;
            }
        }

        @include media('<tab') {
            margin-top: $BSU;
        }

        @include media('>=tab') {
            @include type(18px, 1);
            height: double($BSU) + round(($FontSize-c2 * $LineHeight-base)); // to match base/_input
            padding-left: $BSU;
            padding-right: $BSU;
        }

        @include media('>=lap') {
            @include font-size(16px);
            // padding-top: 8px;
        }
    }
}

.m-SearchAside {
    padding: (halve($Column-gutter) - halve($BSU)) (halve($Column-gutter) - halve($BSU)) halve($Column-gutter) (halve($Column-gutter) - halve($BSU));

    background-color: $Colour-offWhite;
    border-radius: $Border-radius-m;

    @include media('>=tab') {
        // padding-left: ($Column-gutter * 1.5) - halve($BSU);
        // padding-right: ($Column-gutter * 1.5) - halve($BSU);
    }

    .Form-label {
        @include font-size(10px);
    }
}

.m-Search-container {
    @include contain();
    padding: $Layout-gutter ($Layout-gutter - $BSU); //should match the grid
    // padding-right: $Layout-gutter - $BSU; //should match the grid

    @include media('>=tab') {
        display: flex;
        align-items: flex-end;

        padding-left: $Column-gutter + $Grid-gutter--tab - halve($BSU);
        padding-right: $Column-gutter + $Grid-gutter--tab - halve($BSU);
    }

    @include media('>=lap') {
        padding-left: $Column-gutter + $Grid-gutter--lap - halve($BSU);
        padding-right: $Column-gutter + $Grid-gutter--lap - halve($BSU);
    }
}

.m-Search-row {
    display: flex;

    @include media('<tab') {
        + .m-Search-row {
            margin-top: double($BSU);
        }
    }

    .m-Search & {
        // display: flex;

        @include media('>=tab') {
            width: 26.5% + 16%;
        }
    }

    .m-SearchAside & {
        + .m-Search-row {
            margin-top: halve($BSU);
        }
    }
}

.m-Search-fieldAirport {}

.m-Search-fieldDropOff {
    width: percentage(3/5);
}

.m-Search-fieldDropOffTime {
    width: percentage(2/5);
}

.m-Search-fieldPickUp {
    width: percentage(3/5);
}

.m-Search-fieldPickUpTime {
    width: percentage(2/5);
}

.m-Search-submit {
    @include media('<tab') {
        margin-top: double($BSU);
    }

    .m-Search & {
        @include media('>=tab') {
            width: 15%;
        }
    }

    .m-SearchAside & {
        margin-top: ($BSU * 1.5);
    }
}
