// --------------------------------------------------------------------------
// BUTTON GROUPS COMPONENT
// --------------------------------------------------------------------------
//
// For groups of inline buttons
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// STYLES
// --------------------------------------------------------------------------

.ButtonGroup {
    @include list-reset();
}

.ButtonGroup-item {
    display: inline-block;

    + .ButtonGroup-item {
        margin-left: $BSU;

        @include media('>=tab') {
            margin-left: double($BSU);
        }
    }
}
