// --------------------------------------------------------------------------
// CARD COMPONENT
// --------------------------------------------------------------------------
//
// Cards, cards, cards
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.CardContent {
//     background-color: $Colour-white;
    @include media('>=tab') {
        padding: $Column-gutter * 1.25;

        background-color: $Colour-white;
        border: 1px solid $Colour-border;
        border-radius: $Border-radius-m;
    }
}

.Card {
    background-color: $Colour-white;
    border: 1px solid $Colour-border;
    border-radius: $Border-radius-m;
}

.Card--primaryWash {
    background-color: $Colour-primaryWash;
    border-color: $Colour-borderPrimary;
}

.Card-body {
    padding: $Column-gutter;
}

.Card-heading {
    @include type($FontSize-h3, $LineHeight-h3, $FF-heavy);
    margin-bottom: double($BSU);
}
