// --------------------------------------------------------------------------
// FILTERS COMPONENT
// --------------------------------------------------------------------------
//
// Filters styling
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Filters {}

.Filters-block {
    &:first-of-type .Filters-head {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.Filters-head {
    padding: ($BSU * 1.5) double($BSU);

    background-color: #dedede;
    border-bottom: 1px solid #bebebe;
}

.Filters-body {
    padding: double($BSU);

    background-color: #eaeaea;
}

.Filters-list {
    @include list-reset();
}

.Filters-listItem {
    + .Filters-listItem {
        margin-top: halve($BSU);
    }

    &.is-disabled {
        opacity: .5;
    }
}
