// --------------------------------------------------------------------------
// FORM COMPONENT
// --------------------------------------------------------------------------
//
// Form component
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Form {}

.FormStack {}

.FormStack--mob {}

.Form-field {
    @include font-size($FontSize-c3);

    .FormStack & {
        &:not(.hide) + .Form-field:not(.hide),
        + .Form-row {
            margin-top: double($BSU);
        }
    }

    .FormStack--mob & {
        @include media('<tab') {
            &:not(.hide) + .Form-field:not(.hide),
            + .Form-row {
                margin-top: double($BSU);
            }
        }
    }
}

.Form-row {
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    margin-left: - halve($Column-gutter);
    margin-right: - halve($Column-gutter);

    @include media('>=tab') {
        margin-left: - $Column-gutter;
        margin-right: - $Column-gutter;
    }

    .Form-field {
        display: inline-block;
    	width: 100%;
    	padding-left: halve($Column-gutter);
    	padding-right: halve($Column-gutter);
    	vertical-align: top;

    	letter-spacing: normal;
    	word-spacing: normal;
    	text-rendering: auto;

        // margin-top: 0;

        @include media('>=tab') {
        	padding-left: $Column-gutter;
        	padding-right: $Column-gutter;
        }

        .FormStack-l & {
            + .Form-row,
            + .Form-field {
                @include media('<tab') {
                    margin-top: $Layout-gutter;
                }
            }
        }
    }

    .Form-field--bottom {
        vertical-align: bottom;
    }

    .FormStack & {
        &:not(.hide) + .Form-field:not(.hide),
        + .Form-row {
            margin-top: double($BSU);
        }
    }

    .FormStack-l & {
        + .Form-row,
        + .Form-field {
            @include media('<tab') {
                margin-top: $Layout-gutter;
            }
        }

        &:not(.hide) + .Form-field:not(.hide),
        + .Form-row {
            @include media('>=tab') {
                margin-top: $Layout-gutter * 1.5;
            }
        }
    }

    .FormStack--mob & {
        @include media('<tab') {
            &:not(.hide) + .Form-field:not(.hide),
            + .Form-row {
                margin-top: double($BSU);
            }
        }
    }
}

// .Form-row--section {
//     position: relative;
//     padding-top: double($BSU);
//
//     &:before {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: $Layout-gutter;
//         right: $Layout-gutter;
//         border-top: 1px solid $Colour-border;
//     }
//
//     .FormStack-l & {
//         padding-top: $Layout-gutter - $BSU;
//
//         @include media('>=tab') {
//             padding-top: ($Layout-gutter * 1.5) - $BSU;
//         }
//     }
// }

.Form-label {
    font-family: $FF-heavy;

    color: $Colour-text;

    + .Form-input,
    + .Form-select {
        margin-top: halve($BSU);
    }

    .Form-field--required & {
        &:after {
            content: '*';
            display: inline-block;
            margin-left: halve($BSU);

            color: $Colour-error;
        }
    }
}

.Form-inputWrap {
    position: relative;

    &:before {
        @include icon-font();
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: double($BSU);

        color: $Colour-text;
    }

    .Form-input,
    &.Form-select select {
        padding-left: double($BSU) + 14px + ($BSU);
    }
}

//
// Field types
//

.Form-input {
    @include input();
}

.Form-textarea {
    @include input(4);
}

.Form-check {}

.Form-select {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: double($BSU);

        border-top: 4px solid #666;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        pointer-events: none;
    }

    select {
        @include input();
        padding-right: double($BSU) + 8px + ($BSU);

        -webkit-appearance: none;
        outline: 0;
    }
}

.Form-select--s {
    &:after {
        right: $BSU;
    }

    select {
        @include type($FontSize-c4);
    	padding: halve($BSU) triple($BSU) halve($BSU) double($BSU);
    	height: ($BSU) + round($FontSize-c4 * $LineHeight-base);
    }
}
