// --------------------------------------------------------------------------
// LINK GROUPS COMPONENT
// --------------------------------------------------------------------------
//
// For groups of inline links
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// STYLES
// --------------------------------------------------------------------------

.LinkGroup {
    @include list-reset();
}

.LinkGroup-item {
    display: inline-block;

    + .LinkGroup-item {
        margin-left: halve($Column-gutter);

        @include media('>=tab') {
            margin-left: $Column-gutter;
        }
    }
}
