// --------------------------------------------------------------------------
// LIST BASE
// --------------------------------------------------------------------------
//
// Base list styling utilities.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.ListFeatures {
    @include clearfix();
    @include list-reset();
    @include font-size($FontSize-c2);

    margin-top: double($BSU);
	color: $Colour-text;
}

.ListFeatures-item {
    margin-bottom: $BSU;
    padding: halve($BSU) 0 halve($BSU) 40px;

    background-repeat: no-repeat;
    background-position: center left;

    @include media('>=tab') {
        float: left;
        width: 50%;
        margin-bottom: double($BSU);
    }
}
