// --------------------------------------------------------------------------
// PARTNERS COMPONENT
// --------------------------------------------------------------------------
//
// Partners styling
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Partners {
    @include panel(($Panel-gutter * 1.5), ($Panel-gutter--tab * 1.5), ($Panel-gutter--lap * 1.5));

    background-color: $Colour-offWhite;

    @include hide();
}

.Partners-row {
    @include list-reset();
    // @include list-inline();
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    + .Partners-row {
        margin-top: $BSU * 4;
    }
}

.Partners-item {
    vertical-align: middle;
    opacity: .5;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: 1;
        transition: opacity .3s ease-in-out;
    }

    + .Partners-item {
        margin-left: ($BSU * 5);
    }
}
