/*doc
---
title: Popover
name: popover
category: Base
---

A simple body for displaying hidden items such as dropdowns, extra information, definitins etc

```html_example
	<div class="popover is-active">
		<h3>Hello there</h3>
		<p>This is a simple popover</p>
	</div>
```
*/

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin popover($top: 100%, $left: 0) {
	position: absolute;
    top: $top;
    left: $left;
    margin-top: 5px;

    display: none;
	width: 180px;
	padding: ($Base-spacing-unit * 4);
	z-index: 99;

	background-color: $Colour-white;
	border: 1px solid $Colour-border--alt;
	border-radius: 6px;

	&:before {
        content: '';
        display: block;
        transform: rotate(-45deg);

        position: absolute;
        top: -7px;
        left: 14px;

        width: 11px;
        height: 11px;

        background-color: $Colour-white;
        border-top: 1px solid $Colour-border--alt;
        border-right: 1px solid $Colour-border--alt;
    }
}


@mixin popover--top($bottom: 100%) {
    top: auto;
    bottom: $bottom;

	&:before {
        position: absolute;
        top: auto;
        bottom: -7px;

		transform: rotate(135deg);
    }
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.popover {
    @include popover();

    &.is-overlay {
        display: block;
    }
}

// .popover--xl {
//     width: 300px;
//
//     @include media('>=380px') {
//         width: 360px;
//     }
// }
//
// .popover--center {
//     &:before {
//         right: 14px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }
