/*doc
---
title: Popover
name: popover
category: Base
---

A simple body for displaying hidden items such as dropdowns, extra information, definitins etc

```html_example
	<div class="popover is-active">
		<h3>Hello there</h3>
		<p>This is a simple popover</p>
	</div>
```
*/

// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------

@mixin popover-base($padding: $Base-spacing-unit * 4) {
	position: absolute;

    display: none;
	width: 180px;
	padding: $padding;
	z-index: 99;

	background-color: $Colour-white;
	border: 1px solid $Colour-borderSolid;
	border-radius: 6px;

	&:before {
        content: '';
        display: block;
        // transform: rotate(-45deg);

        position: absolute;
        // top: -7px;
        // left: 14px;

        width: 9px;
        height: 9px;

        background-color: $Colour-white;
        border-top: 1px solid $Colour-borderSolid;
        border-right: 1px solid $Colour-borderSolid;
    }
}

@mixin popover($padding: $Base-spacing-unit * 4) {
	@include popover-base($padding);
    top: 120%;
	top: calc(100% + 6px);
    left: -9px;
    margin-top: 5px;

	&:before {
        transform: rotate(-45deg);

        top: -5px;
        left: 12px;
    }
}



@mixin popover-top($padding: $Base-spacing-unit * 4) {
	@include popover-base($padding);
    bottom: 120%;
	bottom: calc(100% + 6px);
	left: -9px;

	&:before {
        bottom: -5px;
        left: 12px;

		transform: rotate(135deg);
    }
}



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.popover {
    @include popover();

    &.is-overlay {
        display: block;
    }
}

// .popover--xl {
//     width: 300px;
//
//     @include media('>=380px') {
//         width: 360px;
//     }
// }
//
// .popover--center {
//     &:before {
//         right: 14px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }
