// --------------------------------------------------------------------------
// RATING COMPONENT
// --------------------------------------------------------------------------
//
// Rating styling
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Rating {}

.Rating--block {
    text-align: center;
}

.Rating-card {
    display: inline-block;
    padding: $BSU ($BSU * 3);
    border: 1px solid $Colour-border;
    border-radius: $Border-radius;

    @include media('<tab') {
        display: block;
        text-align: center;
    }

    @include media('>=tab') {
        padding-left: $BSU * 4;
        padding-right: $BSU * 4;
    }

    @include media('>=lap') {
        padding-left: $BSU * 5;
        padding-right: $BSU * 5;
    }

    &:before {
        @include icon-font();
        @include font-size($FontSize-i1);
        content: $icon-recommend;
        display: inline-block;
        vertical-align: middle;
        margin-right: double($BSU);

        color: $Colour-primary;

        @include media('>=tab') {
            @include font-size($FontSize-i1 * 1.15);
            margin-right: triple($BSU);
        }

        @include media('>=lap') {
            @include font-size($FontSize-i1 * 1.25);
        }
    }

    .Rating--block & {
        @include media('>=tab') {
            padding: double($BSU) $BSU * 5;
        }

        @include media('>=lap') {
            padding-left: $BSU * 6;
            padding-right: $BSU * 6;
        }
    }
}

.Rating-content {
    display: inline-block;
    vertical-align: middle;
    // min-height: $FontSize-i1;
    // margin-left: double($BSU);
}

.Rating-score {
    @include font-size($FontSize-c2);
    font-family: $FF-heavy;
    display: inline-block;
    vertical-align: middle;
    margin-right: halve($BSU);

    color: $Colour-gold;
}

// .Rating-icon {
//
// }

.Rating-copy {
    @include font-size($FontSize-c4);
    font-family: $FF-book;
    display: inline-block;
    vertical-align: middle;

    color: $Colour-text;
}
