// --------------------------------------------------------------------------
// TABS COMPONENT
// --------------------------------------------------------------------------
//
// Tabs component
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Tabs-nav {
    @include list-reset();
    @include list-inline();

    padding-left: $Column-gutter;
    padding-right: $Column-gutter;
}

.Tabs-navLink {
    @include font-size(13px);
    padding: double($BSU) triple($BSU);

    opacity: .55;
    background-color: $Colour-searchBG;
    color: $Colour-text;

    &.is-active {
        opacity: 1;
    }
}

.Tabs-body {
    padding: $Column-gutter;
    margin-top: -1px;
}
