// --------------------------------------------------------------------------
// TABS COMPONENT
// --------------------------------------------------------------------------
//
// Tabs component
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Tabs-nav {
    @include list-reset();
    @include list-inline();

    .Tabs--results & {
        border-bottom: 1px solid $Colour-inputBorder;
    }
}

.Tabs-navLink {
    @include font-size(13px);

    display: block;
    padding: double($BSU) triple($BSU);

    // opacity: .55;
    background-color: lighten($Colour-searchBG, 2%);
    color: lighten($Colour-text, 20%);

    &.is-active {
        // opacity: 1;
        background-color: $Colour-searchBG;
        color: $Colour-text;

        .Tabs--results & {
            color: $Colour-baseType;
            border-color: $Colour-baseType $Colour-baseType $Colour-offWhite $Colour-baseType;
        }
    }

    .Tabs--results & {
        @include type($FontSize-base, 1.2, $FF-book);
        margin-bottom: -1px;

        background-color: transparent;
        border: 1px solid $Colour-inputBorder;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &:hover,
        &:focus {
            color: $Colour-baseType;
        }
    }
}

.Tabs-body {
    // @include container();
    display: none;

    // padding-top: $Column-gutter;
    // padding-bottom: $Column-gutter;
    margin-top: -1px;

    &.is-active {
        display: block;
    }
}
