// --------------------------------------------------------------------------
// TOOLTIP COMPONENT
// --------------------------------------------------------------------------
//
// Create circular tooltips
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.Tooltip {
    position: relative;
    white-space: normal;

    &:after {
        @include font-size(10px);
        content: '\003f';
        display: inline-block;
        text-indent: 0;
        vertical-align: 1px;
        text-align: center;
        line-height: 1;
        font-family: $FF-heavy;
        padding: 2px 0 2px;
        margin-left: 2px;
        width: 14px;
        border-radius: 100%;
        background-color: $Colour-text;
        color: $Colour-white;
    }

    &:hover,
    &:focus {
        .Tooltip-popover,
        .Tooltip-popoverRight {
            display: block;
        }
    }
}


.Tooltip-popover {
    @include popover-top($BSU * 1.5);
    @include type($FontSize-c4, 1.3);

    color: $Colour-text;
}

.Tooltip-popoverRight {
    @include popover-topRight($BSU * 1.5);
    @include type($FontSize-c4, 1.3);

    color: $Colour-text;
}
