<div class="m-Search-container">
    <div class="Form-field m-Search-fieldAirport hide">
        <label class="Form-label" for="airport">Select Airport</label>
        <div class="Form-inputWrap Form-select icon-plane">
            <select id="airport" name="airport" class="">
                <option selected="">London Heathrow</option>
                <option>London Gatwick</option>
                <option>London Luton</option>
                <option>London Stansted</option>
                <option>Birmingham</option>
                <option>Edinburgh</option>
            </select>
        </div>
    </div> <!-- End of .field -->

    {% if include.inline == "true" %}
        <div class="Form-field m-Search-type">
            <label class="Form-label" for="airport">Search for</label>
            <div class="Form-select">
                <select id="airport" name="airport" class="">
                    <option selected="">Parking only</option>
                    <option>Hotel Park &amp; Fly</option>
                </select>
            </div>
        </div>
    {% endif %}

    <div class="m-Search-row">
        <div class="Form-field m-Search-fieldDropOff">
            <label class="Form-label" for="dropDate">Parking From (drop-off)</label>
            <div class="Form-inputWrap icon-clock">
                <input type="date" class="Form-input" id="dropDate" name="dropOffDate" value="">
            </div>
        </div> <!-- End of .field -->

        <div class="Form-field m-Search-fieldDropOffTime">
            <label class="Form-label" for="dropTime">Drop-off Time</label>
            <div class="Form-inputWrap icon-calendar">
                <input type="time" class="Form-input" id="dropTime" name="dropOffTime" placeholder="07:00" value="">
            </div>
        </div> <!-- End of .field -->
    </div>

    <div class="m-Search-row">
        <div class="Form-field m-Search-fieldPickUp">
            <label class="Form-label" for="pickDate">Parking Until (pick-up)</label>
            <div class="Form-inputWrap icon-clock">
                <input type="date" class="Form-input" id="pickDate" name="pickUpDate" value="">
            </div>
        </div> <!-- End of .field -->

        <div class="Form-field m-Search-fieldPickUpTime">
            <label class="Form-label" for="pickTime">Pick-up Time <span class="Tooltip" title=""><span class="Tooltip-popover">We suggest using the time your return flight lands</span></span></label>
            <div class="Form-inputWrap icon-calendar">
                <input type="time" class="Form-input" id="pickTime" name="pickUpTime" placeholder="20:30" value="">
            </div>
        </div> <!-- End of .field -->
    </div>

    <div class="Form-field m-Search-submit">
        <button class="Form-submit" type="submit">Search</button>
    </div> <!-- End of .field -->
</div>
