// --------------------------------------------------------------------------
// HEADER MODULE
// --------------------------------------------------------------------------
//
// Brings together the brand, nav and basket components to create the header with the correct layout and paint job.
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Header {
    background-color: $Colour-base;
    border-top: 5px solid $Colour-primary;

    @include media('<tab') {
        padding: double($BSU);
        text-align: center;
    }

    @include media('>=tab') {
        padding-top: 10px;
    }
}
