// --------------------------------------------------------------------------
// TASKBAR MODULE
// --------------------------------------------------------------------------
//
// Creates a task bar at the bottom of the screen
//

/**
 * DEPENDENCIES
 * - none
 */


// --------------------------------------------------------------------------
// VARIABLES
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// FUNCTIONS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// MIXINS
// --------------------------------------------------------------------------



// --------------------------------------------------------------------------
// STYLING
// --------------------------------------------------------------------------

.m-Taskbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: $BSU;
    padding-bottom: $BSU;

    background-color: $Colour-bgDark;
}
